<<<<<<< HEAD
body{
    margin: 0;
}

.navbar{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -10px;
}

.pint img{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0;
}

.navbar button{
    width: 90px;
    height: 35px;
    outline: none;
    border: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    font-size: 14px;
    margin: 0;
}

.navbar input{
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: silver;
    margin: 0;
    padding-left: 45px;
}

.icons{
    display: inline-flex;
    margin: 0;
    width: 5%;
}

.icons li{
    list-style: none;
}

.icons li i{
    color: gray;
    padding: 20px;
    font-size: 20px;
    padding-top: 30px;
}

.search{
    position: absolute;
    left: 10.75%;
=======
.row{
    width: 80%;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
>>>>>>> a28d1a48970641819bfb762b980b2406ff52bb5d
}